{% extends 'base.html.twig' %}
{% block title %}
Reset password
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center">

    <div class="bg-light shadow-lg p-4 w-lg-50 rounded m-2 custom-form">
        <h1>Reset Password: </h1>
        {{ form_start(form)}}
        {{ form_row(form.password.first, {"attr":{"class":"form-control p-6 rounded-lg font-size-h6"}}) }}
        {{ form_row(form.password.second, {"attr":{"class":"form-control p-6 rounded-lg font-size-h6"}}) }}
        <div class="form-group my-2">
            <button type="sumit" class=" btn btn-primary font-weight-bolder">
                Save
            </button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}