{% extends 'base.html.twig' %}

{% block title %} Pay with Paypal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center">
    <div class="bg-light shadow-lg p-4 w-lg-50 rounded m-2 custom-form">

        <div class="container bg-light">
            <h1 class="text-center border-bottom mb-2">
                Payment of
                <span class="text-primary font-weight-bolder">
                    {{ total|format_number() }} $
                </span>
            </h1>
            <div class="text-center" id="paypal-button-container"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('paypal') }}
<script type="text/javascript">
    paypal.Buttons({
        style: {
            layout: 'vertical',
            color: 'blue',
            shape: 'rect',
            label: 'paypal',
            size: 'responsive'
        },
        createOrder: () => createOrder(),
        onApprove: (data, actions) => onApprove(data, actions),
        onCancel: (data) => onCancel(data),
        onError: (err) => onError(err)
    }).render('#paypal-button-container'); // Display payment options on your web page
</script>
{% endblock %}