{% extends "base.html.twig" %}

{% block title %}Products {% endblock %}

{% block body %}

<div class="container">
	{{ form_start(form) }}

    {{ form_widget(form) }}
    
    <div class="form-group mt-2">
        <button class="btn btn-sm btn-success">
            <i class="fas fa-plus"></i> Save product
        </button>
    </div>

	{{ form_end(form) }}
</div>
{% endblock %}
