{% from "marcos/payment.twig" import order %}

{% extends "base.html.twig" %}

{% block title %}To Be Shipped{% endblock %}

{% block body %}
    <div class="container">
        {% for order in orders %}
            {{ order(order) }}
        {% else %}
            <h1>No Orders Created Yet.</h1>
        {% endfor %}
    </div>
{% endblock %}