{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}


{% block stylesheets %}
 {{ encore_entry_link_tags('error404') }}
  {% endblock %}

{% block body %}


  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="{{ path('home') }}">home</a> and try from there.</p></div>
      </div>
{% endblock %}

{% block javascripts %}
 {{ encore_entry_script_tags('error404') }}
  {% endblock %}