<div class="text-right">
    <a {% for attr, value  in options|merge({class: "btn btn-secondary"}) %} {{ attr }}="{{ value }}" {% endfor %}
        data-bs-toggle="tooltip" data-bs-placement="left" title="Filter by price">
        <span class="float-right">
            {% if sorted %}
            {% if direction == 'desc' %}
            <i class="fa fa-sort-down fa-1x"></i>
            {% else %}
            <i class="fa fa-sort-up fa-1x"></i>
            {% endif %}
            {% else %}
            <i class="fa fa-sort"></i>
            {% endif %}
        </span>
        {{ title }}
    </a>

</div>